.col-main {
    display: flex;
    flex-direction: column;
    gap: 7vh;
    background: black;
    padding-bottom: 10px;
    align-items:center;
    justify-content: center;
    color: white;
}

[class^=row-] {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}